# Ignore everything
*

# Allow specific files and directories
!starship.toml
!wofi/
!wofi/*
!waybar/
!waybar/*
!kitty/
!kitty/*
!hypr/
!hypr/*
!fish/config.fish
!wlogout/*
!neofetch/*
!.gitignore
!nvim/*
!wlogout/*
!wlogout/icons/*