# Ignore everything
*

# Allow specific files and directories
!.gitignore
!starship.toml
!fish/
!fish/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!nvim/
!nvim/**
!spicetify/
!spicetify/**
!uwsm/
!uwsm/**
!waybar/
!waybar/**
!wlogout/
!wlogout/**
!wofi/
!wofi/**