@define-color background_color_light rgba( 88,  96, 134, 0.5);
@define-color background_color_dark  rgba( 44,  48,  67, 0.2);
@define-color accent_color_1         rgba(178, 192, 255, 1.0);
@define-color accent_color_2         rgba( 88,  96, 150, 1.0);
@define-color accent_color_3         rgba(251, 180, 148, 1.0);
@define-color font_color_light       rgba(222, 247, 255, 1.0);
@define-color font_color_dark        rgba( 36,  36,  36, 1.0);

* {
    border: 1px;
    border-radius: 11px;
    font-family: "Hack Nerd Font";
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @font_color_light;
}

window#waybar.empty #window {  
    background: none; 
    border: none;
}  

#workspaces {
    background-color: @background_color_dark;
    padding-left:  16px;
    padding-right: 16px;
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
}

#workspaces button.empty {
    color: @font_color_dark;
    font-size: 11px;
}

#workspaces button.visible {
    color: @accent_color_2;
    border-bottom: solid @accent_color_2 4px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
}

#workspaces button.hosting-monitor.visible {
    color: @accent_color_1;
    border-bottom: solid @accent_color_1 4px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
}

#clock {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
}

#pulseaudio {
    border-top: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    padding-right: 16px;
    border-radius: 0px 12px 12px 0px;
}

#pulseaudio.microphone {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    padding-left:  16px;
    border-radius: 12px 0px 0px 11px;
}

#tray {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  11px;
    padding-right: 11px;
}

#network {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 4px;
    margin-left: 8px;
    padding-left:  11px;
    padding-right: 14px;
    min-width: 180px;
}


#privacy {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  11px;
    padding-right: 16px;
}

#custom-power {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  11px;
    padding-right: 16px;
}

#window {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  6px;
}

#cpu {
    border-top: solid @accent_color_1 1px;
    border-left: solid @accent_color_1 1px;
    border-bottom: solid @accent_color_2 1px;
    background-color: @background_color_dark;
    margin-right: 8px;
    margin-left: 8px;
    padding-left:  6px;
    padding-right:  8px;
}
