@define-color background_color_light rgba( 88,  96, 134, 0.5);
@define-color background_color_dark  rgba( 44,  48,  67, 0.5);
@define-color accent_color_1         rgba(178, 192, 255, 1.0);
@define-color accent_color_2         rgba( 88,  96, 134, 0.8);
@define-color font_color_light       rgba(222, 247, 255, 1.0);
@define-color font_color_dark        rgba( 49,  49,  49, 1.0);


window {
    border: 2px solid @accent_color_2;
    background-color: @background_color_dark;
    border-radius: 25px;
}

#input {
    margin: 10px;
    border: none;
    color: @font_color_light;
    background-color: @background_color_light;
    border-radius: 20px;
}


#scroll {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @font_color_light;
} 

#entry.activatable #text {
    color: #252525;
}

#entry > * {
    color: @font_color_light;
}

#entry:selected {
    background-color: @accent_color_2;
    border-radius: 20px;
}

#entry:selected #text {
    font-weight: bold;
}